/* =========================
   BLOQUEO DE DARK MODE DEL NAVEGADOR
   ========================= */

:root {
  color-scheme: light only;
}

html, body {
  background-color: #ffffff !important;
  color: #0f172a !important;
}


/* =========================
   FORZAR MODO CLARO GLOBAL
   ========================= */

:root {
  color-scheme: light; /* le dice al navegador que solo hay modo claro */
}

html, body {
  background-color: #ffffff !important;
  color: #0f172a !important; /* slate-900 */
}

/* Anula cualquier intento del navegador de cambiar colores */
@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  html, body {
    background-color: #ff
